button {
    cursor: pointer;
}

 .container {
    width: 1200px;
    padding: 0 15px;
    margin:  0 auto;
}

.button {
    color: var(--title-color);
    background-color: var(--accent-color);
}

.title {
    color: var(--title-color);
}

.text {
    color: var(--text-color);
}